{% extends "layouts/_base.html" %}
{% set phaseBanner = 'true' %}
{% set languageToggle = 'false' %}

{% set title =  "Which PIP components do you receive?" %}

{% set detailsTextHtml %}
    <p class="govuk-body">
        You can stay on this page for up to 20 minutes if you need to check your answer. Do not close the web page.
    </p>

    <p class="govuk-body">
        If you need more time, you can come back and confirm your identity later. You might be asked for different information.
    </p>
{% endset %}

{% set pipComponentsHintText %}
    <div id="changed-name-hint" class="govuk-hint">
        Select all that apply.
    </div>
{% endset %}



{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <form class="form" action={{ formPostLink }} method="post" autocomplete="off">

                <!--page heading with caption include-->
                {% set pageHeadingH1 %}
                    <span class="govuk-caption-l">
                        Confirm your identity
                    </span>
                    {{ title }}
                {% endset %}

                {{ govukCheckboxes({
                idPrefix: "kbv-pip-components",
                name: "kbv-pip-components",
                fieldset: {
                    legend: {
                        html: pageHeadingH1,
                        isPageHeading: true,
                        classes: "govuk-fieldset__legend--l"
                    }
                },
                hint: {
                    html: pipComponentsHintText
                },
                items: [
                    {
                        value: "sdl",
                        text: "Standard daily living"
                    },
                    {
                        value: "edl",
                        text: "Enchanced daily living"
                    },
                    {
                        value: "sm",
                        text: "Standard mobility"
                    },
                    {
                        value: "em",
                        text: "Enhanced mobility"
                    },
                    {
                        value: "",
                        text: "I do not receive any of these components"
                    }
                ]
                }) }}


                {{ govukDetails({
                summaryText: "I do not have this information now",
                html: detailsTextHtml | safe
                }) }}


                {{ govukButton({
                    text: "Continue",
                    disabled: formPostLink === null
                }) }}

                {% if formPostLink %}
                    <p><a href={{ formPostLink }}>I cannot answer this question</a></p>
                {% endif %}
            </form>
            
        </div>
    </div>
{% endblock %}
